 .nam-button {
   font-size: 1em;
   height: 3em;
   padding-left: 0.5em;
   padding-right: 0.5em;
   padding-bottom: 0;
   color: black;
   background-color: transparent;
   border-bottom: 2px solid black;
   border-top: none;
   border-left: none;
   border-right: none;
 }

 .nam-button:hover {
   border-bottom: 2px solid blue;
   color: blue;
 }

 .nam-button:focus {
   border-bottom: 2px solid red;
   color: red;
 }

 .nam-button-icon {
   background-position: center;
 }

 .nam-button-circle {
   border-radius: 50%;
   border-width: 2px;
   border-style: solid;
 }