<div class='home'>
  <div class='home-no-login' *ngIf='!loging'>
    <div>PLEASE LOGIN TO USE THIS TOOL</div>
    <nam-button (click)='btnLogin()' title="Login" [hasBackground]='true'></nam-button>
  </div>
  <div class='home-login' *ngIf='loging'>
    <div>WELLCOME TO YOURBOOK TOOL</div>
  </div>

  <nam-button title='click me !' [hasBorder]='true'></nam-button>
  <nam-button title='click me !' [hasBorder]='true' className="real type-danger" btnSelected='true'></nam-button>
  <nam-button title='click me !' [hasBorder]='true' className="small type-success"></nam-button>
  <nam-button title='click me !' [hasBorder]='true' className='large'></nam-button>


  <nam-radio></nam-radio>

  <nam-list></nam-list>
</div>
