<div class='products'>
  <ng-container *ngFor='let p of products'>
    <div class='col'>
      <div class='product'>
        <div class='product-image image' [ngStyle]='{"background-image": "url("+p.url_image+")"}'></div>
        <div class='product-text'>
          <div class='product-title'>{{p.title}}</div>
          <div class='product-preview'>{{p.title}}</div>
        </div>
        <div class='product-control'>
          <button>{{p.detail}}</button>
        </div>
      </div>
    </div>
  </ng-container>
  <nam-paging (nextClick)='btnNextClick()' (backClick)='btnBackClick()' (gotoClick)='btnGotoClick($event)' [page]='page'
    [isLoadMore]='isLoadMore'></nam-paging>
</div>
