body {
  margin: 0;
}

* {
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  font-size: 1em;
  box-sizing: border-box;
}

.w-100 {
  width: 100%;
}

/**--------------------------------------**/

.m-center {
  margin-left: auto;
  margin-right: auto;
}

.m-L {
  margin: 2em;
}

.m-M {
  margin: 1em;
}

.m-S {
  margin: 0.5em;
}

/**--------------------------------------**/

.p-L {
  padding: 1em;
}

.p-M {
  padding: 0.5em;
}

.p-S {
  margin: 0.25em;
}

/**--------------------------------------**/

.font-size-XL {
  font-size: 3em;
}

.font-size-L {
  font-size: 2em;
}

.font-size-M {
  font-size: 1em;
}

.font-size-S {
  font-size: 0.75em;
}

/**--------------------------------------**/

.fixed {
  position: fixed;
}

.fixed.top {
  top: 0;
}

.fixed.left {
  left: 0;
}

.fixed.right {
  right: 0;
}

.fixed.bottom {
  bottom: 0;
}

/**--------------------------------------**/

.nam-all {
  margin-left: auto;
  margin-right: auto;
  font-size: 12px;
}

.nav-top {
  position: fixed;
  top: 0;
  height: 3em;
}

.center-site {
  margin-top: 3em;
  position: relative;
}

.left-site {}

.name-main-site {
  width: 100%;
}

.bottom-site {
  text-align: center;
}