@import '../../config.scss';
.chat-friend {
    // height: 2em;
    padding: 0.25em;
    border: 1px solid $mainColor;
    color: $mainColor;
    background: white;
    display: flex;
    &:hover {
        background-color: $mainColor;
        color: white;
    }
    &.open {
        background-color: $mainColor;
        color: white;
    }
    .chat-friend-icon {
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 2em;
        height: 2em;
        display: inline-block;
        border-radius: 1em;
    }
    .chat-friend-name {
        display: inline-block;
        padding: 0.3em;
    }
}

.chat-box {
    color: $mainColor;
    border-left: 1px solid $mainColor;
    border-right: 1px solid $mainColor;
    position: relative;
    .chat-text {
        overflow-y: auto;
        height: 12em;
        .me,
        .friend {
            padding: 0.25em;
            .text {
                display: inline-block;
                padding: 0.25em 0.5em 0.25em 0.5em;
                border-radius: 0.25em;
            }
        }
        .me {
            .text {
                background-color: white;
            }
        }
        .friend {
            text-align: right;
            .text {
                background-color: $mainColor;
                color: white;
            }
        }
    }
    .chat-control {
        width: 100%;
        display: flex;
        padding: 0.25em;
        background-color: $mainColor;
        align-items: flex-end;
        .input {
            width: 100%;
            background-color: white;
            min-height: 1.5em;
        }
    }
}