.nam-dialog {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    height: 0;
}

.nam-dialog-background {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.nam-dialog-enabled {
    height: 100%;
}