<div class='nam-all'>
  <div class="nav-top">
    <ul>
      <li>
        <a routerLink='/'>Home</a>
      </li>
      <li>
        <a routerLink='/news'>News</a>
      </li>
      <li>
        <a routerLink='/product'>Product</a>
      </li>
      <li *ngIf='!loging'>
        <a href='#login' (click)='btnLogin()'>Login facebook</a>
      </li>
      <li *ngIf='loging'>
          <a href='#logout' (click)='btnLogout()'>Logout facebook</a>
        </li>
    </ul>

    <div class='user' *ngIf='loging'>{{userName}}</div>
  </div>
  <div class='center-site'>
    <router-outlet></router-outlet>
  </div>

  <div class='bottom-site'>
    Footer
  </div>

  <nam-dialog [enabled]='openedDialog' (closeDialog)='openedDialog = false' [dialogContentComponent]='dialogContentComponent'></nam-dialog>
</div>