<div class='nam-all'>
  <div class="nav-top">
    <ul>
      <li>
        <a routerLink='/'>Home</a>
      </li>
      <li>
        <a routerLink='/news'>News</a>
      </li>
      <li *ngIf='loginService.loging'>
        <a routerLink='/post'>Post</a>
      </li>
      <li *ngIf='loginService.loging'>
        <a routerLink='/product'>Product</a>
      </li>
      <li *ngIf='!loginService.loging'>
        <button (click)='btnLogin()'>Login facebook</button>
      </li>
      <li *ngIf='loginService.loging'>
        <button (click)='btnLogout()'>Logout facebook</button>
      </li>
    </ul>
  </div>
  <div class='center-site'>
    <router-outlet></router-outlet>
  </div>
  <div class='user' *ngIf='loginService.loging'>
    <div class='user-picture-profile' [ngStyle]='{"background-image" : "url("+loginService.user.pictureProfile+")"}'></div>
    <div class='user-name'>{{loginService.user.userName}}</div>
  </div>

  <div class='bottom-site'>
    <nam-footer></nam-footer>
  </div>
</div>