@import 'config.scss';
body {
    margin: 0;
    background-color: $mainBackgroundColor;
    font-family: $mainTextFamily;
}

* {
    box-sizing: border-box;
    font-size: 1em;
    line-height: 1.25em;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
    }
    &::-webkit-scrollbar {
        width: 6px;
        background-color: #F5F5F5;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #000000;
    }
}

a {
    color: inherit;
    line-height: inherit;
    font-size: inherit;
    text-decoration: none
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
    list-style-type: none;
}

button {
    background-color: $mainColor;
    color: white;
    border: white 1px solid;
}

select,
input {
    padding: 0.25em;
    color: $mainColor;
    font-size: 1em;
    border: solid 1px $mainColor;
    display: inline-block;
}

.center-site {
    margin-top: 3em;
    margin-bottom: 3em;
    position: relative;
    display: flex;
    .nav-left {
        left: 0;
    }
    .nav-right {
        right: 0;
        text-align: right;
        ul {
            li {
                background-color: white;
                padding: 0.25em;
                color: $mainColor;
                &:hover {
                    border-left: 2px solid $mainColor;
                    cursor: pointer;
                }
            }
        }
    }
    .nav-left,
    .nav-right {
        width: $nav-width;
        top: 3em;
        position: fixed;
        z-index: 1;
        max-height: calc(100% - 3em);
        overflow: auto;
    }
    .main {
        margin: 0 auto;
        width: calc(100% - #{$nav-width * 2});
    }
}

.mobile,
.tablet.portrait {
    .center-site {
        .nav-left {
            margin-left: -100%;
        }
        .nav-right {
            margin-right: -100%;
        }
        .main {
            width: calc(100%);
        }
    }
}

.nav-top {
    background-color: $mainColor;
    color: $mainTextColor;
    z-index: 1;
    width: 100%;
    top: 0;
    position: fixed;
    height: 3em;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        height: 100%;
        li {
            float: left;
            padding: 0.75em;
            height: 100%;
            a {
                display: block;
                text-align: center;
                text-decoration: none;
                color: white;
                :active {
                    color: red;
                }
            }
        }
    }
}

.user {
    margin: 1em;
    height: 3em;
    width: 15em;
    bottom: 1em;
    left: 1em;
    position: fixed;
    display: flex;
    background-color: white;
    overflow: hidden;
    z-index: 1;
    .user-picture-profile {
        background-position: center;
        background-size: cover;
        height: 3em;
        width: 3em;
    }
    .user-name {
        font-size: 1.5em;
        line-height: 1.5em;
        width: 100%;
        padding: 0.25em;
    }
}