<div class='control'>
    <div class='group'>
        <div class='group-title'>Navigation bar</div>
        <div class='group-content'>
            <div>Type 1</div>
            <div>Type 2</div>
            <div>Type 3</div>
            <div>Type 4</div>
        </div>
    </div>
    <div class='group'>
        <div class='group-title'>Panel</div>
        <div class='group-content'>
            <div>Type 1</div>
            <div>Type 2</div>
            <div>Type 3</div>
            <div>Type 4</div>
        </div>
    </div>
    <div class='group'>
        <div class='group-title'>Footer</div>
        <div class='group-content'>
            <div>Type 1</div>
            <div>Type 2</div>
            <div>Type 3</div>
            <div>Type 4</div>
        </div>
    </div>
</div>