.nav-top {
  background-color: $mainColor;
  color: $mainTextColor;
  z-index: 1;
  width: 100%;
  top: 0;
  position: fixed;
  height: 3em;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    li {
      float: left;
      padding: 0.75em;
      height: 100%;
      a {
        display: block;
        text-align: center;
        text-decoration: none;
        color: white;
        :active {
          color: red;
        }
      }
    }
  }
}

.user {
  //   margin: 1em;
  height: 3em; //   width: 15em;
  top: 0;
  right: 0;
  position: absolute;
  display: flex;
  color: white;
  overflow: hidden;
  z-index: 1;
  border-left: 1px solid white;
  .user-picture-profile {
    background-position: center;
    background-size: cover;
    height: 3em;
    width: 3em;
  }
  .user-name {
    width: 100%;
    padding: 0.25em;
  }
}
